textarea {
    resize: none
}

.linkable-card:hover{
    background-color: #2e3338;
}

.hidden {
    display: none
}

.highlight:focus {
    outline: none !important;
    box-shadow: 0 0 5px #fec02f;
}